<nav class="navbar navbar-expand-sm bg-warning">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/requests'>Zahtevi za registraciju</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user"></i>
                        <span> {{currentUser.name}}</span>
                    </a>
                    <div class="dropdown-menu">
                        <a routerLink='' (click)='logout()' class="dropdown-item">Odjavi se</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

