<app-navbar></app-navbar>
<div class="simple-login-container">
    <h2>Wish list</h2>
</div>
    <div class='row' *ngIf='wishlistExists'>
        <div class='col-6' *ngFor='let w of myWishlist'>
            <div class='card text-center'>
                <span *ngIf='w.multipleExist==1'>
                    <b><i>Postoji više ponuda ove knjige</i></b>
                </span>
                <span>
                    <button type="button" class="btn btn-danger" id="wishlist" (click)="removeFromWishlist(w)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-outline-dark" id="wishlist" (click)="addToBag(w)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                        </svg>
                    </button>
                </span>
                <a href='{{w.link}}'>
                    <img src="{{w.imgSrc}}" class='responsive displayed'/>
                </a>
                <br>
                <a href='{{w.link}}'>
                    <label><b>{{w.title}}</b></label>
                </a>
                <label>{{w.author}}</label>
                <label><b>{{w.price}} RSD</b></label>
                <label>{{w.bookstore}}</label>
            </div>
        </div>
    </div>
    <div *ngIf='myWishlist.length==0' style='text-align: center;'>Nemate knjige u wish list-i.</div>
    <br><br>
