<div class="topnav" id="myTopnav">
    <a class="active" routerLink='/home'>Početna<span class="sr-only">(current)</span></a>
    <a routerLink='/bag'>Korpa</a>
    <a routerLink='/starting-page'>Prijavi se</a>
    <a routerLink='/register'>Registruj se</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <form class="d-flex" id="searchBar">
            <input class="form-control me-2" type="search" placeholder="Pretraži" aria-label="Search" [(ngModel)]='searchBy' type='text' name='searchBy'>
            <button class="btn btn-dark" (click)='search()'><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

