<app-navbar></app-navbar>
<form>
    <div class="simple-login-container">
        <h2>Promeni lozinku</h2>
        <br>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="password">Stara lozinka:</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword">
                <div class="message">
                    {{messageOldPassword}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="password">Nova lozinka:</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword">
                <div class="message">
                    {{messageNewPassword}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="password">Ponovi novu lozinku:</label>
                <input type="password" class="form-control" id="newPasswordRepeated" name="newPasswordRepeated" [(ngModel)]="newPasswordRepeated">
                <div class="message">
                    {{messageNewPasswordRepeated}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <button class="btn btn-block btn-login" (click)='changePassword()'>Sačuvaj</button>
            </div>
        </div>
    </div>
</form>
