.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
}

#wishlist {
    width: 20%;
    margin: 4%;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.card {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.col-12 {
    padding-right: 7%;
}

table {
    margin: 5%;
}

.btn-login{
    background-color:rgb(238, 73, 23);
    color:#fff;
}