<app-navbar-admin></app-navbar-admin>
<div class="simple-login-container">
    <h2>Zahtevi za registraciju</h2>
</div>
<div class="table-responsive-md">
    <table class="table" *ngIf='flagRequestsExist'>
        <thead class="thead">
        <tr *ngIf='requests'>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefon</th>
            <th scope="col">Grad</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let r of requests'>
            <td>{{r.name}}</td>
            <td>{{r.surname}}</td>
            <td>{{r.email}}</td>
            <td>{{r.phone}}</td>
            <td>{{r.city}}</td>
            <td>
                <button class='btn btn-success' (click)='acceptRequest(r._id)'>Prihvati</button>
            </td>
            <td>
                <button class='btn btn-danger' (click)='denyRequest(r._id)'>Odbij</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
  <div class='nemaZahteva' *ngIf='!flagRequestsExist'>Nemate nepregledanih zahteva za registraciju.</div>
  <br><br>